.principal {
    width: 100%;
}

.redes-sociales {
    height: 5.5%;
    float: right;
    margin-top: 2px;
}

.redes-sociales ul {
    list-style: none;
    float: right;
    width: 80%;
    height: 100%;
    margin-top: 2px;
}

.redes-sociales ul li {
    float: right;
    cursor: pointer;
}

.logo-principal{
    height: 31%;
    
    text-align: center;
    width: 100%;
    
} 

.menu {
    height: 44px;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin-top: -9px;
    width: 100%;
    height: 100%;
    
}

.menu ul li {
    border: 1px dashed black;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    width: 185px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    
}
.menu ul li:hover{
    background-color: red;
}
.articulo {
    border: 1px solid black;
    width: 32%;
    height: 250px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-color: yellow;
    
}

.laptop{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textolaptop{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}
.tv{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textotv{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}

.discoduro{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textodd{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}
.emultifuncion{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textoem{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}
.foco{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textofoco{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}
.mochila{
    border: 1px dotted green;
    width: 111%;
    float: left;
    height: 80%;
    margin-left: -40px;
    text-align: center;
}
.textomochila{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    height: 18%;
    text-align: center;
    cursor: pointer;
}
