*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.menu{
    list-style: none;
    text-align: center;
    
}
.menu li{
    float: left;
    background-color: black;
    color: white;
    padding: 10px 25px;
    width: 250px;
    border-right: 2px solid white;
    
}
.menu .li-submenu{
    padding-bottom: 0;
}
.menu li:hover{
    background-color: tomato;
    cursor: pointer;
    
}
.sub-menu{
    list-style: none;
    display: none;
    margin-top: 12px;
    margin-left: -25px;
    padding: 0;
    text-align: left;
}
.sub-menu li{
    clear: left;
    padding: 10px;
}
.sub-menu li:hover{
    background-color: black;
    font-weight: bold;
}
ol{
    margin-top: 50px;
    clear: left;
}
.menu li:hover .sub-menu{
    display: block;
    
}
