.principal{
    
    width: 100%;
    height: 1700px;
    
}
.logo{
    
    height: 250px;
    float: left;
    width: 100%;
} 
.logo1{
    text-align: center;
}


.menu{
    height: 45px;
    float: left;
    width: 100%;
}
.submenu1{
    border: 1px solid black;
    width: 24.8%;
    height: 45px;
    float: left;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
    
}
.submenu1:hover{
    background-color: chartreuse;
}
.submenu2{
    
    height: 100px;
    float: left;
    width: 100%;
    float: left;
    margin-top: 15px;
}
.computadora{
    border: 1px solid forestgreen;
    width: 18%;
    height: 200px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}


.submenu3{
    
    height: 100px;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.monitor{
    border: 1px solid firebrick;
    width: 18%;
    height: 200px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
.submenu4{
    
    height: 100px;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.teclado{
    border: 1px solid tomato;
    width: 18%;
    height: 200px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
.submenu5{
    
    height: 100px;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.mouse{
    border: 1px solid orchid;
    width: 18%;
    height: 200px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
.comput{
    border: 1px solid navy;
    height: 80px;
    float: left;
    width: 100%;
    margin-top: 5px;
}
